/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  height: auto;
  width: 100vw;
  max-width: 100%;
  font-family: "PT Sans", sans-serif;
  color: #fff;
  background: #404040;
}

a {
  color: #fff;
  text-decoration: none;
}

.page-container {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.text {
  height: auto;
  margin-top: 50px;
  width: 70%;
}

#home {
  position: relative;
  background-image: url('images/background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.background-fade-in::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('images/background2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 1;
  -webkit-animation-name: fade-in;
  animation-name: fade-in; 
  -webkit-animation-duration: 1;
  animation-duration: 1s 
}

.background-fade-out::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('images/background2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0;
  -webkit-animation-name: fade-out; 
  animation-name: fade-out;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.title-container {
  float: left;
  margin: 5% 0 0 10%;
  color: #fff;
  position: absolute;
  z-index: 10;
}
.title-container p {
  display: inline-block;
  background: #000;
  overflow: hidden;
  -webkit-animation-name: slide-in;
          animation-name: slide-in;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  cursor: pointer;
}
.title-container p:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.title-container #name {
  height: 66px;
  width: 200px;
  font-size: 320%;
  margin-bottom: 25px;
}
.title-container #name p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
}
.title-container #front, .title-container #development, .title-container #design {
  font-size: 160%;
  height: 33px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.title-container #front p, .title-container #development p, .title-container #design p {
  padding: 0 40px 0 10px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.title-container #front {
  width: 157px;
}
.title-container #development {
  width: 225px;
}
.title-container #design {
  width: 126px;
}

.toggle-container {
  float: right;
  color: #fff;
  margin: 5% 5% 0 0;
  text-align: center;
  position: relative;
  z-index: 10
}
.toggle-container span {
  background: #000;
  padding: 0 3px;
  z-index: 10;
}
.toggle-container .slider {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background: #fff;
  margin: 10px auto;
  z-index: 10;
}
.toggle-container .slider .toggler {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000;
  margin-left: 0px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.arrow-container {
  height: 30px;
  width: auto;
  position: absolute;
  bottom: 25px;
  left: calc(50% - 20px);
  opacity: 0;
  -webkit-animation: fade-in-out 2s linear 4s infinite;
          animation: fade-in-out 2s linear 4s infinite;
  z-index: 10;
}
.arrow-container img {
  height: 100%;
  cursor: pointer;
}

nav {
  height: 50px;
  width: 100%;
  position: absolute;
  background: #404040;
  top: 0;
  z-index: 100;
}
nav ul {
  width: 40%;
  float: left;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 150%;
}
nav ul li {
  list-style-type: none;
  padding: 0 50px;
}
nav .logo-container {
  width: 20%;
  height: 100%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .logo-container a {
  width: 50%;
  max-height: 30px;
}
nav .logo-container a img {
  max-width: 90%;
}

#about, #work, #contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}
#about h1, #work h1, #contact h1 {
  font-size: 300%;
  line-height: 200%;
}
#about p, #work p, #contact p {
  font-size: 150%;
  line-height: 150%;
}
#about p a, #work p a, #contact p a {
  text-decoration: underline;
}

#about h1 {
  padding-bottom: 30px;
}

#work {
  min-height: 100vh;
  width: 100%;
}

#work-container {
  width: 100%;
  min-height: 80vh;
}
#work-container h1 {
  text-align: center;
  margin: 50px 0;
  font-size: 250%;
}
#work-container .projects {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#work-container .projects #rocky-mountain-renovators, #work-container .projects #web-features, #work-container .projects #raven-readings {
  width: 25vw;
  max-width: 450px;
  height: calc(4/3 * 25vw);
  max-height: 600px;
  position: relative;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#work-container .projects #rocky-mountain-renovators img, #work-container .projects #web-features img, #work-container .projects #raven-readings img {
  width: 100%;
}
#work-container .projects #rocky-mountain-renovators:hover .external-links {
  opacity: 1;
}
#work-container .projects #web-features:hover .external-links {
  opacity: 1;
}
#work-container .projects #raven-readings:hover .external-links {
  opacity: 1;
}
#work-container #left-arrow,
#work-container #right-arrow {
  width: 5vw;
  padding: 2.5vw;
  position: absolute;
  top: 50%;
  cursor: pointer;
  display: none;
}
#work-container #left-arrow {
  left: 0;
}
#work-container #right-arrow {
  right: 0;
}

.project-title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -50px;
  left: 0;
  width: 100%;
  height: 50px;
}

.external-links {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  opacity: 0;
  height: 50px;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
}
.external-links a {
  height: 37.5px;
  width: 37.5px;
  margin: 0 20px;
}
.external-links a img {
  height: 100%;
  width: 100%;
}

#contact h1, #contact p {
  padding-bottom: 20px;
}

#email-btn {
  width: 40%;
  height: auto;
  text-align: center;
  display: block;
  margin-top: 2rem;
  font-size: 200%;
  line-height: 150%;
  color: #fff;
  background: #e79810;
  border-radius: 15px;
}

.contact-icons {
  width: 70%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-icons img {
  width: 50px;
  height: 50px;
  margin-right: 100px;
}

@-webkit-keyframes slide-in {
  0% {
    width: 0;
    height: 10%;
  }
  50% {
    width: 100%;
    height: 10%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes slide-in {
  0% {
    width: 0;
    height: 10%;
  }
  50% {
    width: 100%;
    height: 10%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0%;
  }
}
@media screen and (max-width: 768px) {
  nav ul {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  nav ul li {
    padding: 0;
  }
  nav img {
    display: none;
  }

  #work-container {
    overflow: hidden;
  }
  #work-container #right-arrow {
    display: initial;
  }
  #work-container .projects {
    width: 300vw;
    left: 0;
    -webkit-transition: left 0.3s linear;
    -o-transition: left 0.3s linear;
    transition: left 0.3s linear;
  }
  #work-container .projects #rocky-mountain-renovators, #work-container .projects #web-features, #work-container .projects #raven-readings {
    width: 80vw;
    max-width: 80vw;
    height: calc(4/3 * 80vw);
    max-height: calc(4/3 * 80vw);
    margin: 0 10vw;
  }
  #work-container .projects #rocky-mountain-renovators .external-links, #work-container .projects #web-features .external-links, #work-container .projects #raven-readings .external-links {
    opacity: 1;
    min-height: 15%;
  }

  #contact h1 {
    line-height: 150%;
  }

  #email-btn {
    width: 100%;
  }

  .contact-icons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-icons img {
    margin-right: 0;
  }
}
@media screen and (max-width: 320px) {
  .toggle-container {
    float: none;
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
  .toggle-container .slider {
    border: 1px solid #fff;
  }

  .contact-icons {
    margin: 50px 0 10px 0;
  }
}.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}
